@import "./base.css";
@import "./table.css";

#app {
  max-width: 1440px;
  margin: 0 auto;
  font-weight: normal;
  font-size: 1.2em;
  display: grid;
  grid-template-columns: 1fr 5fr;
  padding: 0 2rem;
  min-height: 100vh;
}

input {
  background-color: var(--color-input);
  outline: none;
  border: 1px solid var(--color-border);
}

input:focus, input:hover {
  border-color: var(--color-accent);
  background-color: var(--color-background-active);
}

button {
  background-color: var(--color-input);
  border: 1px solid var(--color-border);
  outline: none;
}

button:hover {
  background-color: var(--color-background-active);
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  transition: background-color 200ms linear;
}
