.table {
    display: table;
    font-size: 1em;
    border: 1px solid var(--color-border);
    box-sizing: border-box;
    width: 100%;
}

.row {
    display:table-row;
    border: 1px solid var(--color-border);
}

.cell {
    display: table-cell;
    padding: 0.5em;
}

.header.row {
    font-weight: bold;
}